version: 2
updates:

- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10

# The playwright packages need to be updated together and dependabot doesn't support that yet
# - package-ecosystem: npm
#   directory: "/integration-tests"
#   schedule:
#     interval: daily
#   open-pull-requests-limit: 10

- package-ecosystem: terraform
  directory: "/tf"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
