root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length=85

[*.fs]
insert_final_newline = true
indent_size=2
max_line_length=85
fsharp_align_function_signature_to_indentation=false
fsharp_alternative_long_member_definitions=false
fsharp_bar_before_discriminated_union_declaration=false
fsharp_blank_lines_around_nested_multiline_expressions=false
fsharp_array_or_list_multiline_formatter=character_width
fsharp_indent_on_try_with=false
fsharp_keep_if_then_in_same_line=false
fsharp_keep_indent_in_branch=false
fsharp_max_array_or_list_size=3
fsharp_max_array_or_list_width=85
fsharp_max_dot_get_expression_width=85
fsharp_max_elmish_width=85
fsharp_max_function_binding_width=85
fsharp_max_if_then_else_short_width=80
fsharp_max_if_then_short_width=80
fsharp_max_infix_operator_expression=80
fsharp_max_record_width=85
#fsharp_max_record_number_of_items=1 # does nothing, due to character_width
fsharp_max_value_binding_width=85
fsharp_multiline_block_brackets_on_same_column=false
fsharp_multi_line_lambda_closing_newline=false
fsharp_newline_between_type_definition_and_members=true
fsharp_record_multiline_formatter=character_width
fsharp_semicolon_at_end_of_line=false
fsharp_single_argument_web_mode=false
fsharp_space_after_comma=true
fsharp_space_after_semicolon=true
fsharp_space_around_delimiter=true
fsharp_space_before_class_constructor=false
fsharp_space_before_colon=true
fsharp_space_before_lowercase_invocation=true
fsharp_space_before_member=false
fsharp_space_before_parameter=true
fsharp_space_before_semicolon=false
fsharp_space_before_uppercase_invocation=false
fsharp_strict_mode=false
