.DS_Store
/.browser-trigger
/gcp-rundir
/gzipped_assets
/rundir
/backend/*/.merlin
/backend/_build
/backend/ocamlbuild_output.txt
/backend/profile.json
/backend/static/
/tags

# Templates for these are in scripts/support/*.yaml.template
builtwithdark.yaml
queueworker.yaml
cronchecker.yaml
tunnel.yaml
