.DS_Store
/.browser-trigger
/client/elm-stuff
/client/tests/elm-stuff
/gcp-rundir
/gcp-persistdir
/rundir
/persistdir
/server/*/.merlin
/server/_build
/server/ocamlbuild_output.txt
/server/profile.json
/server/static/base.css
/server/static/elm.js
/tags
/transaction.yaml
client/DEBUG
node_modules
