profile = sparse

break-string-literals = never
escape-strings = preserve
single-case = compact
space-around-lists = false
space-around-records = false
space-around-variants = false
sequence-blank-line = compact
