extends: default

rules:
  line-length: disable
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: true
  key-duplicates: enable
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
