.avatars {
  display: flex;
  flex-direction: column;
}

.all-avatars {
  max-height: calc(100% - 50px);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 80px;
  background-color: $black2;
  margin: 0px 5px;
  padding: 5px 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 10px;
  color: $grey8;

  &.hide {
    display: none;
  }

  .avatars-wrapper {
    display: flex;
  }
}
