.documentation-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  font-size: 11px;
  padding: 5px 10px;
  background: darken($canvas-background, 10%);
  color: $white1;
  width: calc(#{"100% - 20px"});
  overflow-wrap: break-word;
  a {
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
  .type-error {
    color: lighten(saturate($red, 25%), 30%);
  }

  .function-name,
  .parameter-name {
    color: lighten($purple, 10%);
  }
  .type-name {
    color: $green;
  }
}
