#buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .specialButton {
    padding: 4px;
    color: $orange;
    display: flex;
    justify-content: center;
  }
}

.error-panel {
  width: 100%;
  background-color: $red;
  color: $white1;
  position: fixed;
  left: 0;
  bottom: -70px;
  height: 60px;
  animation-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    padding: 0px 20px;
  }
  .dismisBtn {
    cursor: pointer;
  }
  &.show {
    bottom: 0;
    animation-name: showErrorPanel;
  }
}

.message-panel {
  width: 100%;
  padding: 20px;
  background-color: $cyan;
  color: $black1;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  display: none;
  &.show {
    display: block;
  }
}
