.fullstory-modal {
  $soft-edges: 8px;
  $width: 800px;

  background-color: $black3;
  color: $white1;
  font-size: 1em;

  display: block;
  padding: $soft-edges;
  box-shadow: $black1 0 3px 5px 0;

  position: fixed;
  top: 0;
  left: calc((100% - #{$width})/2);
  z-index: 80;

  width: $width;

  transition: top 1s;

  &.ask {
    top: 0;
  }

  &.hide {
    top: -300px;
  }

  p:first-child {
    margin-top: 0em;
  }

  .record-btn {
    display: inline-block;
    margin-left: 8px;
    position: relative;
    font-size: 16px;

    width: 16px;
    height: 16px;
    opacity: 0.7;

    cursor: pointer;
    &:hover {
      opacity: 1;
    }

    i.fa.fa-video {
      color: $white3;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    i.fa.fa-circle {
      color: $red;
      font-size: 8px;
      z-index: 1;
      position: absolute;
      top: 3px;
      left: 2px;
    }

    &.recording {
      i.fa.fa-circle {
        animation: blinkOpacity 1.5s ease-in-out infinite;
      }
    }
  }

  .consent {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .choice {
      display: inline-block;
      width: 50%;

      input[type="radio"] ~ label {
        margin-left: 1ch;
      }
    }
  }
}
