$title-size: 20px;
$radius: 7px;

$light-back: $white1;
$light-grey: $grey2;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    width: 50%;
    background: $black2;
    border-radius: $radius;
    color: $white3;
    display: flex;
    align-items: center;
    justify-content: center;
    &.unsupported {
      width: 50%;
    }
    .close-btn {
      position: relative;
      align-self: flex-start;
      width: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      .fa {
        color: $grey3;
        &:hover {
          color: $grey2;
        }
      }
    }
    .title {
      font-size: $title-size;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .modal-overlay .modal {
    width: 80%;
    &:not(.modal-overlay.account) {
      height: 50%;
    }
  }
}

@media only screen and (max-height: 600px) {
  .modal {
    height: 85%;
  }
}
