.create-secret-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  input,
  button {
    margin: 5px;

    &::placeholder {
      font-style: italic;
    }
  }

  input.error {
    border: $red 1px solid;
  }

  input[name="secret-name"] {
    text-transform: uppercase;
    &::placeholder {
      text-transform: none;
    }
  }
}

.form-error {
  color: lighten($red, 15%);
  text-align: center;
}
