.modal-overlay > .modal.insert-secret {
  width: max-content;
}

.insert-secret-form {
  margin-top: 20px;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  input,
  button,
  textarea {
    margin: 5px;

    &::placeholder {
      font-style: italic;
    }
  }

  input.error {
    border: $red 1px solid;
  }

  input[name="secret-name"] {
    text-transform: uppercase;
    &::placeholder {
      text-transform: none;
    }
  }

  textarea {
    padding: 7px 10px;
  }
}

.form-error {
  color: lighten($red, 15%);
  text-align: center;
}
