.modal-overlay > .modal.insert-secret {
  width: max-content;
}

.insert-secret-form {
  margin-top: 20px;
  display: flex;

  // for narrow views
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  input,
  button {
    margin: 5px;

    &::placeholder {
      font-style: italic;
    }
  }

  input.error {
    border: $red 1px solid;
  }

  input[name="secret-name"] {
    text-transform: uppercase;
    &::placeholder {
      text-transform: none;
    }
  }
}

.form-error {
  color: lighten($red, 15%);
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .insert-secret-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
