.modal-overlay.settings {
  .modal {
    height: 75%;
  }
  .settings-tab-titles {
    display: flex;
    width: 100%;
    border-bottom: solid 3px $grey1;
    .tab-title {
      height: 100%;
      margin: 0;
      margin-bottom: -3px;
      padding: 0px 10px;
      color: $grey2;
      cursor: pointer;
      &.selected {
        color: $white3;
        border-bottom: solid 3px $grey8;
      }
    }
  }
  .settings-tab-wrapper {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    margin: 10px 5px 10px 35px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // Canvas Information
  .canvas-info {
    .canvas-desc {
      textarea {
        width: 100%;
        height: 200px;
        background-color: $black3;
        padding: 10px 10px;
        caret-color: $grey8;
        color: $white1;
        resize: none;
      }
    }
    .canvas-shipped-info {
      display: flex;
      margin-top: 25px;
      p {
        margin: 0px;
        padding-left: 10px;
      }
    }
    .sub-text {
      color: $grey2;
      padding-left: 24px;
      margin-top: 10px;
    }
    .created-text {
      color: $grey2;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  // Account view (canvas list)
  .canvas-list {
    min-height: 35px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background: $grey1;
    border-radius: 5px;

    &::-webkit-scrollbar-corner {
      background: rgba(100, 100, 100, 0);
    }

    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      background-color: $grey2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $black3;
      height: 30px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $black2;
    }
    li {
      a {
        text-decoration: none;
        color: $white1;
        cursor: pointer;

        &:hover {
          color: $purple;
        }
      }
      list-style-type: none;
      padding: 5px 8px;
    }
  }
}

// Setting Rows
.setting-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;

  .setting-label {
    width: 60%;
    .title {
      text-align: left;
      color: $white3;
      font-size: 1em;
    }
    .description {
      color: $white1;
      font-size: 0.8em;
    }
  }

  .setting-control {
    color: $white3;

    .choice {
      display: inline-block;
      margin-left: 4ch;

      input[type="radio"] ~ label {
        margin-left: 1ch;
        cursor: pointer;
      }
    }
  }
}
