.modal-overlay.settings {
  .modal {
    height: 75%;
  }
  .settings-tab-titles {
    display: flex;
    width: 100%;
    border-bottom: solid 3px $grey1;
    .tab-title {
      height: 100%;
      margin: 0;
      margin-bottom: -3px;
      padding: 0px 10px;
      color: $grey2;
      cursor: pointer;
      &.selected {
        color: $white3;
        border-bottom: solid 3px $grey3;
      }
    }
  }
  .settings-tab-wrapper {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    margin: 10px 5px 10px 35px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // Account view (canvas list)
  .canvas-list {
    min-height: 35px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background: $grey1;
    border-radius: 5px;

    &::-webkit-scrollbar-corner {
      background: rgba(100, 100, 100, 0);
    }

    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      background-color: $grey2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $black3;
      height: 30px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $black2;
    }
    li {
      a {
        text-decoration: none;
        color: $white1;
        cursor: pointer;

        &:hover {
          color: $purple;
        }
      }
      list-style-type: none;
      padding: 5px 8px;
    }
  }
  // Invite to dark
  .invite-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      margin: 0px;
    }
    .error-text {
      color: $red;
      margin: 0px;
      height: 25px;
    }
    .form-field {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      width: 100%;
      max-width: 550px;
      flex-wrap: wrap;
      margin-top: 25px;
      input {
        background-color: $black3;
        height: 35px;
        width: 35ch;
        padding: 0px 10px;
        caret-color: $grey3;
        color: $white1;
      }
    }
    .submit-btn {
      width: 125px;
      padding: 10px 15px;
      background: $grey2;
      border-radius: 3px;
      margin-top: 35px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white1;
    }
  }
  .editor-settings {
    .editor-setting-feild {
      .title {
        text-align: start;
        margin-bottom: 15px;
      }
      .subtitle {
        margin-bottom: 15px;
        color: $grey3;
      }
      input {
        background-color: $black3;
        height: 35px;
        width: 75px;
        padding: 0px 10px;
        caret-color: $grey3;
        color: $white1;
      }
    }
  }
}
