$sidebarBgColor: darken($canvas-background, 10%);
$sidebarHoverColor: lighten($yellow, 10%);
$primaryColor: $white1;
$secondaryColor: $grey2;
:root {
  --sidebarBgColor: #{$sidebarBgColor};
  --sidebarHoverColor: #{$sidebarHoverColor};
  --sidebarPrimaryColor: #{$primaryColor};
  --sidebarSecondaryColor: #{$secondaryColor};
}

.category-content {
  &::-webkit-scrollbar-corner {
    // prevents an ugly white dot in the bottom right corner when both scrollbars are visible
    background-color: transparent;
  }
}