$sidebarClosedWidth: 3.5em;
$sidebarFullWidth: 20em;
$sidebard-preview-shadow: 2px 2px 2px 0 $black1;

$sidebarBgColor: darken($canvas-background, 10%);
$sidebarHoverColor: lighten($yellow, 10%);
$primaryColor: $white1;
$secondaryColor: $grey2;
:root {
  --sidebarBgColor: #{$sidebarBgColor};
  --sidebarHoverColor: #{$sidebarHoverColor};
  --sidebarPrimaryColor: #{$primaryColor};
  --sidebarSecondaryColor: #{$secondaryColor};
}

$sectionSpace: 20px;
$hSpace: 5px;
$icSize: 1em;

/******************************************************************************
*
* General structure:
*
* .component {
*   &.states-definitions { }
*   .children-definitions {}
*   .special-case-definitions {} (abridged vs detailed mode specific style-attrs)
* }
* ... and so on for each (category wrapper, category titles, line items)
* .special-case-categories (404, static assets, deleted, etc.)
*
* We use @at-root to reduce deep nesting where repeating attributes
* overwrite each other.
*
******************************************************************************/

#sidebar-left {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }
}

// Category summary
.sidebar-on-abridged-icon {
  font-size: 2em;
}

.category-summary {
  outline: none;
  display: flex;

  justify-content: flex-start;
  align-items: flex-end;


  div {
    display: inline-block;
  }

  .category-header {
    width: 80%;
    text-align: center;
  }
}

.category-content {
  .category-summary {
    width: 100%;
    align-items: center;
  }
}



// Wrapper for categories' content
.category-content {
  padding-left: 1em;

  @at-root .abridged > .sidebar-category > & {
    background-color: $sidebarBgColor;
    min-width: $sidebarFullWidth;
    max-width: 2 * $sidebarFullWidth;
    max-height: 400px;
    padding: $hSpace;
    margin-top: 2 * $hSpace;
    padding-bottom: $hSpace * 2;

    overflow-y: scroll;
    box-shadow: $sidebard-preview-shadow;

    z-index: 1;
    position: absolute;
    left: $sidebarClosedWidth;
    top: -1.25em;

    display: none;

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  @at-root .abridged > .sidebar-category:hover > & {
    display: block;
  }
}

// Category items
.simple-item {
  margin-top: 5px;

  div {
    display: inline-block;
  }

  .toplevel-name {
    width: 100%;
    display: inline-block;

    &:hover + .add-button {
      color: $sidebarHoverColor;
    }
  }
}
.deleted,
.fof {
  .simple-item {
    display: flex;
  }
}

/* Special Case: Package Manager  */
.simple-item .icon-spacer {
  display: inline-block;
  width: $icSize;
  height: $icSize;
  display: none;
}
.package-manager .simple-item .icon-spacer {
  width: 0.5em;
}

