$tooltip-color: lighten(saturate($cyan, 20%), 10%);

.tooltipWrapper {
  position: relative;
  .tooltips {
    position: absolute;
    display: flex;
    width: max-content;
    max-width: 250px;
    background-color: $tooltip-color;
    border-radius: 6px;
    box-shadow: rgba(24, 24, 24, 0.7) 0 2px 4px 1px;
    z-index: 5000;

    .tip {
      background-color: $tooltip-color;
      display: block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      z-index: 0;
      position: absolute;

      &.align-left {
        left: 45px;
      }
    }

    &.right-of {
      right: 100%;
    }

    &.above {
      align-items: center;
      flex-direction: column-reverse;
      bottom: 15px;

      .tip {
        bottom: -5px;
      }
    }

    &.below {
      align-items: center;
      flex-direction: column;
      top: 15px;

      .tip {
        top: -5px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
    }

    .description {
      font-size: 1.2em;
      letter-spacing: 0.02em;
      color: $black2;
      margin: 0px;
    }

    .details {
      // font color for details text
      font-size: 1em;
      letter-spacing: 0.01em;
      color: darken(desaturate($tooltip-color, 30%), 50%);
    }
  }
  button {
    border: 0;
    outline: 0;

    padding: 4px;
    border-radius: 4px;
    font-weight: 500;

    transition: background-color 0.1s;

    background-color: $white3;
    color: darken($tooltip-color, 25%);
    width: max-content;

    margin-top: 10px;
    p {
      margin: 0px;
    }
    &:hover {
      background-color: rgba(142, 234, 222, 1);
      color: $white3;
    }
  }

  &.exception {
    background-color: $white2;
    .description {
      color: $red;
    }
    .details {
      color: $black3;
    }
    button {
      background-color: $grey2;
      color: $white3;

      &:hover {
        background-color: $red;
      }
    }
  }
}

//   &.left-of {
//     display: flex;
//     align-items: center;
//     flex-direction: row-reverse;

//     .tip {
//       right: 5px;
//     }
//   }

//

//

// }
