$tooltip-color: lighten(saturate($cyan, 20%), 10%);

.tooltipWrapper {
  position: relative;
  .tooltips {
    font-size: 14px;
    position: absolute;
    display: flex;
    width: max-content;
    max-width: 250px;
    background-color: $tooltip-color;
    border-radius: 6px;
    box-shadow: rgba(24, 24, 24, 0.7) 0 2px 4px 1px;
    z-index: 5000;

    .tip {
      background-color: $tooltip-color;
      display: block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      z-index: 0;
      position: absolute;

      &.align-left {
        left: 45px;
      }
      &.align-top {
        top: 15px;
      }
    }

    &.right-of {
      left: 20px;
      top: 0px;
      bottom: initial;

      .tip {
        left: -5px;
        bottom: 25px;
      }
    }

    &.left-of {
      right: 50px;
      top: -60px;

      .tip {
        right: -5px;
        top: 25px;
        left: inherit;
      }
    }

    &.above {
      align-items: center;
      flex-direction: column-reverse;
      bottom: 15px;

      .tip {
        bottom: -5px;
      }
    }

    &.below {
      align-items: center;
      flex-direction: column;
      top: 15px;

      .tip {
        top: -5px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
    }

    .step-title {
      color: $black2;
      text-align: center;
    }

    .description {
      font-size: 18px;
      letter-spacing: 0.02em;
      color: $black2;
      margin: 0px;
      text-align: center;
    }

    .details {
      // font color for details text
      font-size: 16px;
      letter-spacing: 0.01em;
      color: $black2;
      text-align: center;
    }
  }
  .close-btn {
    text-align: center;
    cursor: pointer;
    &:hover {
      color: $purple;
    }
  }

  .btn-container {
    display: flex !important;
    width: 100%;
    justify-content: space-evenly;
  }

  button {
    border: 0;
    outline: 0;
    padding: 4px;
    font-weight: 500;
    background-color: transparent;
    text-decoration: none;
    text-align: center;

    width: max-content;

    margin-top: 10px;

    &.page-btn {
      border: none;
      color: $black2;
      width: 100%;
      text-align: center;
      &[disabled] {
        color: darken($tooltip-color, 25%);
        cursor: default;
      }
    }

    &.action-button {
      color: darken($tooltip-color, 25%);
      background-color: $white3;
      transition: background-color 0.1s;
      border-radius: 4px;
      &:hover {
        color: $white3;
        background-color: rgba(142, 234, 222, 1);
      }
    }

    p {
      margin: 0px;
    }
  }

  &.exception {
    background-color: $white2;
    .description {
      color: $red;
    }
    .details {
      color: $black3;
    }
    button {
      background-color: $grey2;
      color: $white3;

      &:hover {
        background-color: $red;
      }
    }
  }
}
