version 7.2.0

source https://api.nuget.org/v3/index.json
framework: net7.0
storage: none

// Basics
nuget Tablecloth.FSharp = 0.0.8-alpha1
nuget Ply = 0.3.1
nuget FSharpPlus = 1.2.2
nuget FsRegEx = 0.7.2
nuget FSharpx.Extras = 3.0.0
nuget FSharp.Core = 7.0.200
nuget Faithlife.Utility = 0.12.2
nuget FSharp.SystemTextJson = 0.17.4
nuget NodaTime = 3.1.6
nuget NodaTime.Serialization.SystemTextJson = 1.0.0
nuget System.IO.Hashing 6.0.2

// Binary Serialization
nuget MessagePack = 2.4.59
nuget MessagePack.NodaTime = 3.1.0
nuget MessagePack.FSharpExtensions = 3.0.0

// Tests
nuget Expecto = 9.0.4
nuget Expecto.FsCheck = 9.0.4
nuget FsCheck = 2.16.4
nuget FSharp.Compiler.Service = 43.7.200
nuget NReco.Logging.File = 1.1.3
nuget SimpleBase = 3.1.0

// Services
nuget PusherServer = 4.6.1
nuget Rollbar = 5.0.5-beta
nuget Rollbar.NetCore.AspNet = 5.0.5-beta
nuget Microsoft.Extensions.Diagnostics.HealthChecks = 6.0.1
nuget AspNetCore.HealthChecks.Npgsql = 6.0.1
nuget LaunchDarkly.ServerSdk = 6.3.2

// Tracing
nuget Honeycomb.OpenTelemetry = 1.2.1
nuget Npgsql.OpenTelemetry = 6.0.9
nuget System.Diagnostics.DiagnosticSource = 7.0.1
nuget OpenTelemetry = 1.4.0
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol = 1.4.0
nuget OpenTelemetry.Exporter.Console = 1.4.0
nuget OpenTelemetry.Instrumentation.AspNetCore = 1.0.0-rc9.14
nuget OpenTelemetry.Extensions.Hosting = 1.4.0
nuget OpenTelemetry.Instrumentation.Http = 1.0.0-rc9.14

// LibBackend
nuget Npgsql.FSharp = 5.5.0
nuget Npgsql = 6.0.9
nuget Npgsql.NodaTime = 6.0.9
nuget Sodium.Core = 1.2.3
nuget Google.Cloud.PubSub.V1 = 2.9.0
nuget Google.Cloud.Storage.V1 = 3.7.0

// Benchmarks
nuget Argu = 6.1.1

// CanvasHack
nuget Legivel = 0.4.6