html {
  height: 100%;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #131314;
  color:#fff;
}

/********************
Top level
********************/

#container {
  display: flex;
}

#grid {
  /* background-color: transparent; */
  /* background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent); */
  background: #1c1c1d;
  /* background-size: 2em 2em; */
  position: relative;
  flex: 1;
}

#docs {
  flex: 0 0 400px;
  width: 400px;
	font-family: "Source Code Pro";
  font-size: 8pt;
}

#darkLive, #darkLive > pre {
}

#darkDesc {
}

#darkErrors {
}


/********************
Entry (is also a node)
********************/

#search-container {
  position: relative;
}

#search-container input {
  padding: 2px;
  font-size: 1.1em;
  width: 200px;
}

#search-container br {
  padding-bottom: 10px;
}

#darkEntry {
  z-index: 20;
  position: relative;
  color: #000;
  border: 1px solid #666;
  background: transparent;
}

#suggestion {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  background: white;
  border: 1px solid #fff;
}

form {
  display: inline;
}

#autocomplete-holder {
  overflow-y: hidden;
  max-height: 250px;
}

.autocomplete-item.highlighted {
  background: #1c3670;
}
.autocomplete-item.greyed {
  color: grey;
}

.node.entry {
  /* headers need to be relative to position them. We need to be above
   * the headers, and position:relative allows us to do it. */
  position: relative;
  width: 300px;
  padding: 0.8em 1em;
}



/********************
Nodes
********************/
.node.functiondef {
  /* Ideally, we'd have the background of a function behind the edges but
  in front of the grid. Unfortunately, z-index on SVG is kinda hard, so
  I don't know how to make this work. */
  background: #252b2e;
}

.node.functiondef.selected {
  background: #2e2525;
}

.name {
  /* Targets are larger than regular letters - this canonicalizes the size */
  max-height: 16px;
}

.node {
  box-sizing: border-box;
  /* border: 1px solid #333; */
  font-size: 14px;
  background: #272728;
}

.node.functioncall .name, .node.value .name, node.page .name {
  display: block;
  text-align: center;
}

.node.functioncall, .node.value {
  /* border-radius: 2em; */
  padding: 0.3em 0.3em;
  display: block;
}

.node.selected {
  /* border-radius: 0.5em; */
}

.selected .name {
  color: red;
}

.node.page {
  /* border-radius: 1em; */
  padding: 0.5em 1.7em;
  text-align: center;
}

.page .name {
  display: block;
  font-weight: bold;
  font-size: 1.37em;
  margin: 1em 0;
}

.datastore .name {
  display: block; /* extend the line for the full width of the node */
  font-weight: bold;
  font-size: 1.37em;
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.25em;
}

.list {
  display: inline-block;
  margin-top: 0.5em;
	line-height: 1.5em;
}


/********************
Node Header
********************/

.header {
  position: relative;
  top: -36px;
  left: 4px;
}

.letter {
  margin-top: 4px;
  color: #999900;
  font-size: 12px;
  float: right;
  margin-right: 8px;
}


.arg .header {
  width: 18px;
  top: 10px;
  left: 9px;
}

.return .header {
  top: -9px;
  left: 10px;
  position: relative;
}

.parameters {
  cursor: default;
  color: red;
  font-size: 8px;
  font-weight: bold;
}

.parameters .connected {
  color: #888;
}

/* Put it in the top right */
/* body .elm-overlay .elm-mini-controls { */
/*   top: 0; */
/*   bottom: auto; */
/*   right: 0px; */
/* } */
