html {
  height: 100%;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #131314;
  color:#fff;
}

.entry > .inner {
  /* Put the entry node in front of all other nodes */
  z-index: 1;
}

#search-container {
  position: relative;
}

#search-container input {
  padding: 2px;
  font-size: 1.1em;
  width: 200px;
}

#search-container br {
    padding-bottom: 10px;
}

#darkEntry {
  position: relative;
  color: #000;
  z-index: 10;
  border: 1px solid #666;
  background: transparent;
}

#suggestion {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: #ccc;
  background: white;
  border: 1px solid #fff;
}

#darkErrors {
}

form {
  display: inline;
}

#grid {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:2em 2em;
}

.node .inner {
  position: relative;
  top: -12px; /* space for params */
  box-sizing: border-box;
  border: 1px solid #444;
	padding: 0.8em 1em;
  font-size: 14px;
  background: #272728;
  display: inline-block;
  padding-top: 12px;
}

.node.functioncall .name, .node.value .name, node.page .name {
  display: block;
  text-align: center;
}

.node.functioncall .inner, .node.value .inner {
  border-radius: 2em;
  padding: 0.3em 0.3em;
  display: block;
  z-index: 0; /* less than parameters, must not be negative (else events stop working */
}

.node.functioncall.selected .inner, .node.value.selected .inner {
  border-radius: 0.5em;
}

.selected .name {
  color: red;
}

.node.page .inner {
  border-radius: 1em;
  padding: 0.5em 1.7em;
  text-align: center;
}

.page .name {
  display: block;
  font-weight: bold;
  font-size: 1.37em;
  margin: 1em 0;
}

.datastore .name {
  display: block; /* extend the line for the full width of the node */
  font-weight: bold;
  font-size: 1.37em;
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.25em;
}

.list {
  display: inline-block;
  margin-top: 0.5em;
	line-height: 1.5em;
}

.header {
  top: -10px;
  z-index: 10; /* more than nodes */
  float: left;
  position: absolute;
  left: 0;
  width: 100%;
}

.parameters {
  cursor: default;
  color: red;
  font-size: 8px;
  font-weight: bold;
}

.parameters .connected {
  color: #888;
}

.letter {
  margin-top: 2px;
  color: #999900;
  font-size: 12px;
  float: right;
}

#autocomplete-holder {
  overflow-y: auto;
  max-height: 250px;
}

.autocomplete-item.highlighted {
  background: blue;
}
.autocomplete-item.greyed {
  color: grey;
}

/* Put it in the top right */
body .elm-overlay .elm-mini-controls {
  top: 0;
  bottom: auto;
  right: 0px;
}
