<!DOCTYPE html>
<html>
  <head>
    <title>{{CANVAS_NAME}} - Dark</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="//{{STATIC}}/vendor/fontawesome-5.12.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Code|Fira+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//{{STATIC}}/reset-normalize.css"
    />
    <link rel="stylesheet" type="text/css" href="//{{STATIC}}/app.css" />

    <!-- prevent favicon requests for now -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="//{{STATIC}}/favicon-32x32.png"
    />
    {{LIVERELOADJS}}
    <script type="text/javascript" src="//{{STATIC}}/app.js"></script>
    <script type="text/javascript">
      const heapioID = "{{HEAPIO_ID}}";
      const rollbarConfig = {{ROLLBARCONFIG}};
      const pusherConfig = {{PUSHERCONFIG}};
      const complete = {{ALLFUNCTIONS}};
      const userContentHost = "{{USER_CONTENT_HOST}}";
      const environmentName = "{{ENVIRONMENT_NAME}}";
      const username = "{{USER_USERNAME}}";
      const userEmail = "{{USER_EMAIL}}";
      const userFullname = "{{USER_FULLNAME}}";
      const userCreatedAt = new Date({{USER_CREATED_AT_UNIX_MSTS}});
      const userIsAdmin = {{USER_IS_ADMIN}};
      const userID = "{{USER_ID}}";
      const canvasID = "{{CANVAS_ID}}";
      const canvasName = "{{CANVAS_NAME}}";
      const csrfToken = "{{CSRF_TOKEN}}";
      const staticUrl = "{{STATIC}}";
      const buildHash = "{{BUILD_HASH}}";
      const hashReplacements = {{HASH_REPLACEMENTS}};
    </script>
    <script
      type="text/javascript"
      src="//{{STATIC}}/unsupportedBrowser.js"
    ></script>
    <script type="text/javascript" src="//{{STATIC}}/BlazorWorker.js"></script>
    <script type="text/javascript" src="//{{STATIC}}/appsupport.js"></script>
  </head>
  <body onKeyDown="stopKeys(event)" onKeyUp="stopKeys(event)"></body>
</html>
