<!DOCTYPE HTML>
<html>
  <head>
    <title>Dark</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css">
    <link rel="stylesheet"
          type="text/css"
          href="/static/reset-normalize.css" />
    <link rel="stylesheet"
          type="text/css"
          href="/static/base.css" />

    <!-- prevent favicon requests for now -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">

    <script type="text/javascript">
      function stopKeys(event) {
        if (event.keyCode == 9) { // Tab
           event.preventDefault();
        }
        if (event.keyCode == 32 // Space
          && !event.target.parentNode.className.includes("string-container")) {
           event.preventDefault();
        }
        if (event.keyCode == 13 // Enter
          && !event.target.parentNode.className.includes("large-string")) {
           event.preventDefault();
        }
        if (
            event.keyCode == 38 // Up
         || event.keyCode == 40 // Down
         ) {
           if (document.activeElement.tagName.toLowerCase() !== 'textarea') event.preventDefault();
        }
      }
    </script>
    <script type="text/javascript" src="/static/bundle.js"> </script>
    <script type="text/javascript" src="/static/elm{ELMDEBUG}.js"> </script>
    <!-- <script type="text/javascript" src="/static/darkjs.bc.js"> </script> -->

  </head>
  <body onKeyDown="stopKeys(event)" onKeyUp="stopKeys(event)">
   <script type="text/javascript">
       window.Rollbar.configure({ROLLBARCONFIG});
       complete = {ALLFUNCTIONS};
       elmapp = Elm.Main.fullscreen({
         editorState: window.localStorage.getItem('editorState'),
         complete: complete
       });

       elmapp.ports.setStorage.subscribe(function(editorState) {
         window.localStorage.setItem('editorState', editorState);
       })

       elmapp.ports.sendRollbar.subscribe(function(obj) {
         window.Rollbar.error(obj.message, obj.url, null, null, obj.custom);
       })

       window.onerror = function (msg, url, line, col, error) {
         window.Rollbar.error(msg, error);
         elmapp.ports.displayError.send(msg);
       };

       bundle.mousewheel(function(dx,dy, dz, ev){
         ev.preventDefault();
         // NB: rounding values here because Elm wants ints
         elmapp.ports.mousewheel.send([Math.round(dx),Math.round(dy)]);
       });

       document.title = window.location.hostname.split('.')[0] + " - Dark";

       class RopArrow extends HTMLElement {
         constructor() {
           super();
         }
         update() {
           var tlid = this.getAttribute("tlid");
           var target = document.querySelector(".tl-" + tlid + " .rop-rail");
           if(target) {
             const targetPos = target.getBoundingClientRect();
             const sourcePos = this.getBoundingClientRect();
             const arrowHeadLength = 12;
             const x2 = targetPos.right - sourcePos.left - arrowHeadLength;
             const x1 = x2 / 3;

             var arrowRight = document.querySelector("rop-arrow > svg > path");
             var svg = document.querySelector("rop-arrow > svg");
             svg.setAttribute("width", x2 + arrowHeadLength);

             var d = "M 0,20 C 0,8 " + x1 + ",8 " + x2 + ",15";
             arrowRight.setAttribute("d", d);
           }
         }
         connectedCallback() {
           this.update();
         }
         static get observedAttributes() {
           return ['update'];
         }
         attributeChangedCallback(attr, _, val) {
           this.update();
         }
       }
       window.customElements.define('rop-arrow', RopArrow);

    </script>
  </body>
</html>
