<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Project Dark</title>
    <link rel="stylesheet" type="text/css" href="/static/reset-normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <script type="text/javascript">
    function stopTab(event) {
      if (event.keyCode == 9) {
        event.preventDefault();
        event.stopImmedatePropagation();
      }
      else {
      }
    }
    </script>
    <script src="/static/elm.js"> </script>

  </head>
  <body onKeyDown="stopTab(event)" onKeyUp="stopTab(event)">
   <script type="text/javascript">
     complete = ALLFUNCTIONS;
     try {
       storage = localStorage.getItem('editor');
       state = JSON.parse(storage);
       elmapp = Elm.Main.fullscreen({state: state, complete: complete});
     }
     catch (e) {
       console.log("Elm threw when called with " + JSON.stringify(state));
       elmapp = Elm.Main.fullscreen({state: null, complete: complete});
     }
     elmapp.ports.setStorage.subscribe(function (state) {
       localStorage.setItem('editor', JSON.stringify(state))
     });
    </script>
  </body>
</html>
