<!DOCTYPE HTML>
<html>
  <head>
    <title>Project Dark</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css">
    <link rel="stylesheet"
          type="text/css"
          href="/static/reset-normalize.css" />
    <link rel="stylesheet"
          type="text/css"
          href="/static/base.css" />

    <!-- prevent favicon requests for now -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <script type="text/javascript">
      function stopKeys(event) {
        if (event.keyCode == 9 || event.keyCode == 32) { // Tab + Space
          event.preventDefault();
        }

      }
    </script>
    <script type="text/javascript" src="/static/elm.js"> </script>

  </head>
  <body onKeyDown="stopKeys(event)" onKeyUp="stopKeys(event)">
   <script type="text/javascript">
     complete = ALLFUNCTIONS;
     elmapp = Elm.Main.fullscreen({editorState: null, complete: complete});

     document.title = window.location.hostname.split('.')[0] + " - Dark";

    </script>
  </body>
</html>
