html {
  height: 100%;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #131314;
  color:#fff;
}

form {
    display: inline;
}

#grid {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:2em 2em;
}

.node {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #444;
	padding: 0.8em 1em;
  font-size: 14px;
  background: #272728;
  display: inline-block;
}

.node.function .name, .node.value .name {
  display: block;
  text-align: center;
}

.node.function, .node.value {
  border-radius: 2em;
  padding: 0.3em 0.3em;
  display: block;
}

.node.function.selected, .node.value.selected {
  border-radius: 0.5em;
}

.selected .name {
  color: red;
}

.node.page {
  border-radius: 1em;
  padding: 0.5em 1.7em;
  text-align: center;
  display: block;
}


.datastore h3 {
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.25em;
}

.list {
  display: inline-block;
  margin-top: 0.5em;
	line-height: 1.5em;
}

.parameter {
  min-height: 0em;
  display: block;
}

.parameter:before {
  content:"";
  position:relative;
  top:0.2em;
  margin-right:0.5em;
  border:1px solid #777;
  border-radius: 0.7em;
  height: 0.7em;
  width: 0.7em;
  display: inline-block;
}
.parameter:hover:before {
  border:1px solid #fff;
}

.parameter:active:before,
.parameter:focus:before {
  border:1px solid #fff;
  background: #fff;
}
