<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Admin - graph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/cytoscape.min.js"></script>
    <script src="/static/dagre.min.js"></script>
    <script src="/static/cytoscape-dagre.js"></script>
  </head>
  <body>
    <style>
     #cy {
       width: 1000px;
       height: 600px;
       display: block;
     }
    </style>
    <div id="cy""></div>
    <script>
     nodes = {{ nodes|safe }};
     nodes = nodes.map( n => ( {
       data: n
     }));
     edges_json = {{ edges|safe }};
     edges = []
     for ([s, targets] of Object.entries(edges_json)) {
       for (t of targets) {
         edges.push({
           data: {
             source: s,
             target: t,
             id: "edge" + s + t
           }
         });
       }
     }
     cy = cytoscape({
       container: document.getElementById('cy'),
       elements: nodes.concat(edges),
       style: [{
         selector: 'node',
         style: {
           label: 'data(name)',
           "background-color": "#eee",
           shape: "roundrectangle",
           "text-wrap": "wrap",
           width: 'label',
           height: "40px",
           "font-size": 16,
           "text-valign": "center",
         }
       }, {
         selector: 'edge',
         style: {
           "curve-style": "bezier",
           width: 4,
           'line-color': 'black',
           'target-arrow-color': 'black',
           'target-arrow-shape': 'triangle-backcurve'
         }
       }],
       layout: {
         name: "dagre",
         padding: 10,
         directed: true,
       }
     });
    </script>
  </body>
</html>
