version 6.0.0-beta8

source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget FSharp.Core 5.0.0

// Tests
//github haf/expecto:8fb043f1de5c847979c4ccb2fa7c14696bfafe55
nuget Expecto 9.0.2
nuget Expecto.FsCheck 9.0.2
nuget FsCheck = 2.15.1
nuget FSharp.Compiler.Service = 38.0.2

// Web servers
nuget Giraffe = 5.0.0-rc-6
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson = 5.0.3
nuget Lib.AspNetCore.ServerTiming = 4.0.0

// LibExecution
nuget Faithlife.Utility = 0.11.2
nuget Newtonsoft.Json = 12.0.3
nuget Ply = 0.3.1
nuget FSharpPlus = 1.2.0-CI01665
nuget FsRegEx = 0.7.2
nuget FSharpx.Extras = 2.5.0
nuget Npgsql.FSharp = 3.12.3
nuget Npgsql = 5.0.1.1
nuget Sodium.Core = 1.2.3
