version 6.0.0-alpha014

source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget FSharp.Core ~> 5.0.0-beta.20417.1

// Web servers
nuget Saturn ~> 0.15.0-preview01

// Tests
nuget Expecto ~> 9.0.2
nuget FSharp.Compiler.Service

// LibExecution
nuget Thoth.Json.Net ~> 4.1.0
nuget TaskBuilder.fs ~> 2.1
nuget FSharp.Data
nuget Ply ~> 0.1
nuget FSharpPlus ~> 1.2.0-ci01240
nuget FsRegEx ~> 0.7.2
nuget FSharpx.Extras ~> 2.5.0