version 6.0.6

source https://api.nuget.org/v3/index.json
framework: net6.0
storage: none

// Basics
nuget Newtonsoft.Json = 13.0.1
nuget Ply = 0.3.1
nuget FSharpPlus = 1.2.1
nuget FsRegEx = 0.7.2
nuget FSharpx.Extras = 2.5.0
nuget FSharp.Core = 5.0.3-beta.21352.5
nuget Faithlife.Utility = 0.11.2

// Tests
nuget Expecto = 9.0.4
nuget Expecto.FsCheck = 9.0.4
nuget FsCheck = 2.16.0
nuget FSharp.Compiler.Service = 40.0.1-preview.21352.5
nuget System.Runtime.CompilerServices.Unsafe = 6.0.0-preview.7.21377.19 // to resolve dependencies

// Services
nuget Giraffe = 5.0.0
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson = 5.0.3
nuget Lib.AspNetCore.ServerTiming = 4.1.0
nuget PusherServer = 4.6.1
nuget Rollbar = 4.0.3
nuget Rollbar.NetCore.AspNet = 4.0.3
nuget Microsoft.Extensions.Diagnostics.HealthChecks = 6.0.0-preview.7.21378.6
nuget Microsoft.Extensions.Hosting.Abstractions = 6.0.0-preview.7.21377.19 // to resolve dependencies
nuget AspNetCore.HealthChecks.Npgsql = 5.0.2

// Tracing
nuget Honeycomb.OpenTelemetry = 0.12.0-beta
nuget System.Diagnostics.DiagnosticSource = 6.0.0-preview.7.21377.19
nuget OpenTelemetry = 1.2.0-alpha1
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol = 1.2.0-alpha1
nuget OpenTelemetry.Exporter.Console = 1.2.0-alpha1
nuget OpenTelemetry.Instrumentation.AspNetCore = 1.0.0-rc7
nuget OpenTelemetry.Extensions.Hosting = 1.0.0-rc7
nuget OpenTelemetry.Instrumentation.Http = 1.0.0-rc7

// LibBackend
nuget Npgsql.FSharp = 4.0.0
//nuget Npgsql = 6.0.0-rc1 // not released yet
git https://github.com/npgsql/npgsql 416e3965ce497eb76d67d440f7a62703bb873590
nuget Sodium.Core = 1.2.3


group Wasm
  source https://api.nuget.org/v3/index.json
  // Wasm - this is in its own group to avoid a clash with OpenTelemetry
  nuget Microsoft.AspNetCore.Components.WebAssembly = 6.0.0-preview.7.21378.6
