<!DOCTYPE html>
<html>
  <head>
    <title>Dark</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <input type="hidden" name="redirect" value="{{REDIRECT}}" />
      <input type="submit" value="Login" />
    </form>

  </body>
</html>
