<!DOCTYPE html>
<html>
  <head>
    <title>Dark</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <style type="text/css" media="screen">
      #error-text {
        background-color: #fce4e4;
        border: 1px solid #fcc2c3;
        padding: 20px 30px;
        margin-bottom: 15px;

        color: #cc0033;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        text-shadow: 1px 1px rgba(250,250,250,.3);
      }
      #error-text:empty {
        display: none
      }
    </style>
  </head>
  <body>
    <div class="error-box" id="error-text"></div>
    <div>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <input type="hidden" id="redirect" name="redirect" value="" />
        <input type="submit" value="Login" />
      </form>
    </div>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const redirect = urlParams.get('redirect');
      const error = urlParams.get('error');
      if (error) {
        document.getElementById("error-text").innerHTML = decodeURI(error);
      }
      if (redirect) {
        // Keep this one encoded to send to the server
        document.getElementById("redirect").value = redirect;
      }
    </script>
  </body>
</html>
