@keyframes showErrorPanel {
  from {
    bottom: -70px;
  }

  to {
    bottom: 0;
  }
}

@keyframes hideErrorPanel {
  from {
    bottom: 0;
  }

  to {
    bottom: 70px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

i.fa-spinner {
  animation: spin 0.75s infinite linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
