.avatar {
  padding: 2px 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &.inactive {
    opacity: 0.5;
  }
}

.avatars {
  display: flex;
  flex-direction: column;
  .avatar {
    width: 24px;
    height: 24px;
  }
}

.all-avatars {
  max-height: calc(100% - 50px);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $black2;
  margin: 0px 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    margin: 5px 0px;
  }

  .avatars-wrapper {
    display: flex;
  }
}
