$black1: #181818;
$grey1 : #383838; 

$red: #AB4642;
$orange: #dc9656;
$yellow: #f7ca88;
$green : #a1b56c;
$cyan : #86c1b9;
$blue : #7cafc2;
$purple: #B18BBA;
$pink: #D5839D;

/* Maybe will be deprecated */
$black2: #282828; // sidebar bg, entrybox bg, debugging buttons
$grey2 : #585858; // placeholder text
$grey3 : #b8b8b8;
$white3: #d8d8d8; // link color
$white2: #e8e8e8;
$white1: #f8f8f8; // active link

$brown : #a16946;
$darkblue: #2B466F;
$vagueblue: #182635;

/* Old Variables */
$hovercolor: lighten($darkblue, 10%);
$autocomplete-highlight-color: $darkblue;
$selected-blankor-background: $darkblue;

$top-border: lighten($black1, 5%) 2px dotted;
$blank-underline: 1px dashed $grey2;

/* Semantic Variables */
$canvas-background: #484848;
$toplevel-background: #262626;

$live-value-foreground: lighten($cyan, 10%);
$live-value-background: $grey1;

$http-get: $green;
$http-post: $blue;
$http-put: $orange;
$http-patch: $cyan;
$http-delete: lighten($red, 15%);
$cron-color: $yellow;
$queue-color: $grey3;

$hover-foreground: darken($blue, 10%);
$selected-background: darken($toplevel-background, 20%);
$hover-background: #1C2E4A;

$unlock-color: lighten($green, 15%);
$lock-color: lighten($red, 10%);