.documentation-box {
    position: absolute;
    bottom: calc(#{"100% + 2px"});
    left: 0;
    font-size: 11px;
    padding: 5px 10px;
    background: darken($black2, 2%);
    color: $white3;
    width: calc(#{"100% - 20px"});
}