#buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $black2;
    padding: 4px;

    .specialButton {
        margin-right: 8px;
        padding: 4px;
        color: $orange;

        &:hover,
        &:active {
            color: $green;
            background-color: $grey1;
        }

        &#integrationTestSignal {
            display: inline-block;
        }

        &.environment.prodclone {
            color: magenta;
        }
    }

    .status {
        float: right;
        margin-right: 8px;

        &.error {
            color: lighten($red, 20%);

            a {
                @extend .default-link;
            }
        }
    }
}

.error-panel {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: $red;
    color: $white1;
    position: fixed;
    left: 0;
    bottom: -70px;

    animation-duration: 0.5s;

    &.show {
        bottom: 0;
        animation-name: showErrorPanel;
    }
}