#buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .specialButton {
    padding: 4px;
    color: $orange;
    display: flex;
    justify-content: center;
  }
}

.error-panel {
  width: 100%;
  padding: 20px;
  background-color: $red;
  color: $white1;
  position: fixed;
  left: 0;
  bottom: -70px;
  height: 20px;
  animation-duration: 0.5s;
  &.show {
    bottom: 0;
    animation-name: showErrorPanel;
  }
}

.message-panel {
  width: 100%;
  padding: 20px;
  background-color: $cyan;
  color: $black1;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  display: none;
  &.show {
    display: block;
  }
}

.minimap {
  position: fixed;
  bottom: 10px;
  left: 50px;

  border: $cyan 2px solid;
  width: 200px;
  height: auto;
  max-height: 300px;

  &[src=""] {
    display: none;
  }
}