#buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .specialButton {
    padding: 4px;
    color: $orange;
    display: flex;
    justify-content: center;
  }
}

.error-panel {
  width: 100%;
  padding: 20px;
  background-color: $red;
  color: $white1;
  position: fixed;
  left: 0;
  bottom: -70px;
  height: 20px;
  animation-duration: 0.5s;
  &.show {
    bottom: 0;
    animation-name: showErrorPanel;
  }
}
