.grouping-variant {
  .toplevel.group {
    background: rgba(56, 56, 56, 0.8);
    height: 250px;
    width: 360px;
    .group-data {
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .group-top {
        height: 30px;
        width: 100%;
        display: flex;
        .group-name {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          margin: 0;
          width: 100%;
          padding: 5px 0px;
          &.form {
            background: black;
            width: 90%;
          }
          form {
            position: initial;
            margin: 0;
            #entry-box {
              background: black !important;
              color: $grey3 !important;
              font-weight: 500;
            }
          }
        }

        .delete-btn-wrap {
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: $black2;
          &.empty {
            color: $grey3;
          }
          &.preview {
            visibility: hidden;
          }
          .error-text {
            display: none;
          }
          &:hover {
            .error-text {
              display: inherit;
              visibility: visible;
              position: absolute;
              right: 0;
              width: 150px;
              font-size: 14px;
              top: 5px;
              color: $red;
              margin-right: -160px;
            }
          }
        }
      }
      .member-list {
        overflow-y: scroll;
        height: 200px;
        .fa.fa-lock {
          display: none;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        .member {
          background: $black2;
          margin-top: 15px;
        }
        &.preview {
          .member {
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: solid 1px white;
            padding: 5px 10px;
            width: max-content;
            .member-text {
              margin: 0px 5px;
              &:first-child {
                margin-left: 0px;
              }
            }
          }
        }
      }
      .children {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &:hover {
      .group-data .group-top .delete-btn-wrap.preview.empty .delete-btn {
        position: absolute;
        visibility: visible;
        width: 20px;
        height: 20px;
        font-size: 16px;
        color: $black3;
        background: $grey3;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: 0;
        right: 0;
        margin-top: -10px;
        margin-right: -10px;
      }
    }
  }
}
