.use-wrapper {
  background: transparent;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.fade {
    opacity: 0.3;
  }

}

.ref-block {
  display: block;
  box-sizing: content-box;
  position: relative;

  min-width: 120px;
  width: max-content;

  margin: $spacing-medium 0;
  padding: 4px $spacing-medium;

  background-color: $live-value-background;

  color: desaturate($hover-foreground, 20%);
  font-size: $code-font-size;

  &:first-child {
    margin-top: 0;
    margin-bottom: $spacing-medium;
  }

  &:before {
    @extend .font-awesome;
    content: "";
    position: absolute;
    font-size: 20px;
  }

  &.used-in::before {
    content: "\f30a";
    left: -16px;
    color: $live-value-background;
  }

  &.refers-to::before {
    content: "\f30b";
    left: -20px;
    color: $black2;
  }

  &:hover {
    cursor: pointer;
    color: $hover-foreground;
    background-color: darken($live-value-background, 10%);

    .cols .col .name,
    .cols .col .type {
      color: $hover-foreground;
    }

    &.used-in::before {
      color: darken($live-value-background, 10%);
    }
  }

  &.db {
    margin: $spacing-small 0;

    .dbtitle {
      margin: 0 auto;
      margin-bottom: 0;
    }

    .cols {
      color: $grey3;
    }
  }

  &.handler {
    display: flex;
    flex-direction: row;
  }

  .spec {
    display: inline-block;

    margin-left: 4ch;
    padding-bottom: 2px;
    padding-top: 0;
    padding-left: 1ch;
    padding-right: 1ch;

    &:first-child {
      margin-left: 0;
    }
  }

  .fnicon,
  .fnname {
    display: inline-block;
  }

  .fnname {
    color: $white1;
  }

  .fnheader,
  .fnparams {
    display: block;
    width: 100%;
  }

  .fnparam {
    display: inline-block;
    color: $grey2;
    font-size: $code-font-size * 0.8;
    margin: 0 12px;

    .has-blanks {
      color: lighten($red, 12%);
      font-style: italic;
    }
  }
}