.view-data {
  position: absolute;
  width: max-content;
  top: 0;
  left: -20px;
  cursor: pointer;
  overflow: hidden;

  .toplevel.selected &,
  .node.hovering & {
    overflow: visible;
  }

  ul.request-cursor {
    float: none;
    margin-top: 10px;

    li {
      float: none;
      display: block;
      font-size: 30px;
      line-height: 15px;
      color: $grey2;

      &.tipe-Error {
        color: $red;
      }

      &.mouseovered,
      &.active {
        color: $live-value-foreground;
      }

      .data {
        display: none;

        position: absolute;
        right: 20px;
        top: 0;

        height: max-content;
        width: max-content;
        max-width: 300px;
        padding: $spacing-medium;

        background-color: $live-value-background;

        color: $live-value-foreground;
        font-size: 0.7rem;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      &.mouseovered .data {
        display: block;
      }
    }
  }
}
