.view-data {
  position: absolute;
  width: max-content;
  top: 0;
  left: -20px;
  cursor: pointer;
  overflow: hidden;

  .toplevel.selected &,
  .node.hovering & {
    overflow: visible;
  }

  ul.request-cursor {
    float: none;
    margin-top: 10px;
    li {
      font-size: 30px;
      height: 15px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      color: $grey2;

      &.tipe-Error {
        color: $red;
      }

      &.mouseovered .empty-dot {
        width: 6px;
        height: 6px;
        border: solid 2px $live-value-foreground;
        border-radius: 50%;
      }

      &.active {
        color: $live-value-foreground;
      }

      .data {
        display: none;

        position: absolute;
        // 18px makes the right edge of the data container rub almost exactly (v. tiny overlap actually!)
        // with the left padding of the request cursor dot (when it's font-size 30px)
        right: 18px;
        top: 0;

        height: max-content;
        width: max-content;
        max-width: 300px;
        padding: $spacing-medium;

        background-color: $live-value-background;
        line-height: 15px;
        color: $live-value-foreground;
        font-size: 0.7rem;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      &.mouseovered .data {
        display: block;
      }
    }
  }
}
