$sidebarClosedWidth: 3.5em;
$sidebarFullWidth: 20em;
$yellowFilter: invert(0.08) sepia(1) saturate(4) hue-rotate(316.8deg) brightness(0.96);
$greyFilter: invert(0.06) sepia(0) saturate(1) hue-rotate(0deg) brightness(0.7);
$sidebard-preview-shadow: 2px 2px 2px 0 $black1;

$devColor: $blue;
$prodcloneColor: $magenta;
$prodColor: black;

#sidebar-left {
  width: max-content;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.viewing-table {
  $toggleSpace: 60px;
  background-color: darken($canvas-background, 10%);
  height: 100%;
  position: relative;
  width: $sidebarFullWidth;
  box-sizing: border-box;
  padding: 5px 0px;

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
  }

  &.isClosed {
    width: $sidebarClosedWidth;
    min-width: initial;
    .toggle-container {
      justify-content: center;
      padding-right: 0px;
      &:last-child {
        display: flex;
      }
      p {
        display: none;
      }
    }
  }

  .error-status {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    align-items: flex-end;
    &.opened {
      a {
        margin-bottom: 50px;
      }
    }
    &.error {
      font-size: 12px;
      text-align: center;
      a {
        text-decoration: none;
        color: $grey3;
        outline: none;
      }
    }
  }

  .groups {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    &.groups-closed {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    .collapsed {
      $itemHeight: 30px;
      height: $itemHeight;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 15px 5px;
      color: $grey2;
      width: 100%;
      &.deleted.empty {
        // Dont show trash can if it's empty
        display: none;
      }
      .collapsed-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        width: 80%;
        height: auto;
        .environment {
          height: max-content;
          display: flex;
          left: 10%;
          position: absolute;
          z-index: 2;
          margin-top: -10px;
          background: #fff;
          font-size: 8px;
          border-radius: 2px;
          padding: 0px 2px;
        }

        .button-link {
          cursor: pointer;
          margin-top: 5px;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
          position: absolute;
          color: $white1;
          font-size: 15px;
          left: 10;
          right: 0;
          padding-right: 2px;
          &:hover {
            cursor: pointer;
            color: lighten($yellow, 10%);
          }
        }

        .header-icon {
          display: flex;
          position: relative;
          cursor: pointer;
          object {
            pointer-events: none;
          }
          &:hover {
            &:before {
              content: attr(alt);
              font-size: 0.55rem;
              text-align: center;

              background-color: $black2;
              color: lighten($yellow, 10%);
              // color: $white2;

              width: 100%;
              padding: 2px;
              z-index: 60;

              position: absolute;
              top: -4px;
              left: 0;
            }

            object,
            i.fa {
              filter: $yellowFilter;
              cursor: pointer;
            }
          }

          &.empty object,
          &.empty i.fa {
            filter: none;
            opacity: 0.2;

            &:hover {
              filter: none;
            }
          }

          i.fa {
            color: white;
            font-size: 2.16em;
          }

          object,
          i.fa {
            width: 100%;
            height: 100%;
            filter: $greyFilter;
          }
        }

        &.dev .environment,
        &.dev .header-icon {
          color: $devColor;
          filter: none;
        }
        &.prodclone .environment,
        &.prodclone .header-icon {
          color: $prodcloneColor;
          filter: none;
        }
        &.prod .environment,
        &.prod .header-icon {
          color: $prodColor;
          filter: none;
        }
      }

      &:hover {
        .hover {
          display: flex;
          flex-direction: column;

          position: absolute;
          left: $sidebarClosedWidth;

          width: 300px;
          max-height: 400px;
          padding: 10px;
          margin-top: 10px;

          overflow-y: scroll;

          background-color: darken($canvas-background, 10%);
          box-shadow: $sidebard-preview-shadow;

          .header-icon {
            display: none;
          }

          .GET a.external {
            font-size: 12px;
          }

          &.admin-state {
            padding: 5px 0px;
            color: $grey3;
            font-size: 13px;
            a {
              color: $grey3;
            }
            .checkbox-row {
              display: flex;
              align-items: center;
              height: 20px;
              cursor: pointer;
              input {
                cursor: pointer;
              }
              p {
                margin-left: 5px;
              }
            }
            .state-info {
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;
              .state-info-row {
                margin-top: 0px;
                margin-bottom: 0px;
              }
            }
            .state-info-row {
              display: flex;
              height: 20px;
              align-items: center;
              justify-content: flex-start;
              margin: 5px;
              margin-left: 17px;

              &.debugger:hover {
                color: $white3;
              }

              &.save-state {
                border: 1px solid;
                border-radius: 2px;
                padding: 4px 8px;
                height: 10px;
                margin-bottom: 20px;
                width: fit-content;
                cursor: pointer;

                &:hover {
                  background: $grey3;
                  color: darken($canvas-background, 10%);
                }
              }

              .key {
              }
              .sep {
                width: 15px;
              }
              .value {
                white-space: nowrap;
                max-width: 210px;
              }
            }
          }
        }
      }
      .hover {
        display: none;
      }
    }
  }

  .toggle-container {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
    color: $grey2;
    cursor: pointer;
    padding-right: 5px;
    .toggle-button {
      display: flex;
      .fa {
        font-size: 20px;
        &:nth-child(2) {
          margin-left: -5px;
        }
      }
    }

    &:hover {
      color: $white1;
    }

    p {
      margin: 0px 10px;
    }
    &:last-child {
      display: none;
    }
  }
  .simple-item.handler {
    display: flex;
    width: 100%;
    margin: 5px 0px;
    .name {
      color: $white3;
      width: 70%;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .delete {
      display: flex;
      width: 10%;
      align-items: center;
      justify-content: center;
      .button-link {
        color: $grey2;
        &:hover {
          color: $grey3;
        }
      }
    }
    .aux {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 20%;
      overflow: hidden;
      .verb {
        font-size: 14px;
        text-decoration: none;
        margin-right: 1ch;
      }
      &.GET a,
      &.GET span {
        color: $http-get;
      }
      &.POST a,
      &.POST span {
        color: $http-post;
      }
      &.DELETE a,
      &.DELETE span {
        color: $http-delete;
      }
      &.PUT a,
      &.PUT span {
        color: $http-put;
      }
      &.PATCH a,
      &.PATCH span {
        color: $http-patch;
      }
    }
  }

  .deleted {
    .header-icon {
      display: none;
    }
  }

  .sidebar-section {
    margin: 5px;
    width: calc(#{"100% - 5px"});
    &:first-child {
      margin-top: 0px;
    }
    summary {
      outline: none;
      display: flex;
      height: 24px;
      align-items: center;
      justify-content: center;
      &.headerSummary {
        cursor: pointer;
      }
      &::-webkit-details-marker {
        margin: 2px;
        color: lighten($yellow, 10%);
      }
      .header {
        padding: 2px 5px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        color: lighten($yellow, 10%);
        width: 100%;

        .title {
          width: calc(#{"100% - 32px"});
          display: flex;
          .count {
            font-weight: bold;
          }
        }

        .verb-link,
        .button-link {
          float: right;
          color: $grey3;
        }

        .header-icon {
          height: 20px;
          width: 20px;
          margin-right: 5px;
          filter: $yellowFilter;

          i.fa {
            color: white;
          }
        }
      }
    }

    &.empty {
      .headerSummary {
        cursor: default;
      }
      .header-icon {
        margin-left: 16px;
      }
    }
    &.deleted > .sidebar-section {
      margin-left: 10px;
    }

    &.deleted.empty div {
      display: none;
    }

    .button-link,
    .external {
      @extend .default-link;

      display: inline-block;
      width: 16px;
      margin: 0 2px;
      cursor: pointer;
      color: $grey3;

      &:link,
      &:visited {
        color: $grey3;
      }

      &:hover {
        color: $yellow;
      }
    }
  }

  .sidebar-section.http .simple-route.handler,
  .sidebar-section.fof .simple-route.handler,
  .sidebar-section.deleted-http .simple-route.handler {
    .verb {
      width: 60px;
      display: inline-block;
      text-align: right;
      margin-right: 4px;
      vertical-align: middle;
      &:not(.no-ext) {
        width: 30px;
      }
      &.verb-link {
        text-decoration: none;
      }

      &:hover {
        color: $yellow;
      }
    }

    .external {
      font-size: 12px;
    }
  }

  .default-link.unused {
    color: $grey2;
  }

  .default-link.selected-entry {
    color: $blue;
  }

  .default-link.selected-entry:hover {
    color: saturate($blue, 30%);
  }
}

.sidebar-section.deploys,
.simple-route.deploy,
.simple-item.deploy {
  color: $grey3;
  align-self: flex-start;
  summary {
    height: inherit;
    &::-webkit-details-marker {
      display: none;
    }
    .header {
      padding-left: 0px;
      margin: 0px 5px 0px 10px;
      background: none;
      display: flex;
      flex-direction: column;
    }
  }

  &.empty {
    .header-icon {
      margin-left: 0px;
    }
  }
  .title {
    align-self: flex-start;
    border-bottom: 1px solid;
    .title {
      border-bottom: none;
    }
  }

  .deploy-status {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    a.hash {
      color: $grey3;

      &:hover {
        color: $yellow;
      }
    }

    .status {
      color: $white1;

      &.success {
        color: $green;
      }
    }
  }
  .datetime {
    font-size: 12px;
    margin-left: 5px;
  }

  .datetime,
  .hash {
    margin-right: 2ch;
  }
}
