.topbar {
  position: relative;
  width: 100%;
  background-color: $cyan;
  color: $black1;
  align-items: center;
  align-content: center;
  text-align: center;
  a {
    color: $black2;
    &:hover {
      cursor: pointer;
    }
  }
  z-index: 100;
}
