.topbar {
  width: 100%;
  background-color: darken($canvas-background, 10%);
  align-items: center;
  align-content: center;
  text-align: center;
  color: $white1;
  a {
    color: $white1;

    &:hover {
      cursor: pointer;
    }
  }
}
